// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-disabled-opacity: 0.7 !default;
$btn-font-weight: 600 !default;

$btn-focus-box-shadow: inset 0 4px 6px rgba(gray("900"), 0.15) !default;
$btn-active-box-shadow: inset 0 4px 6px rgba(gray("900"), 0.15) !default;

$btn-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
    color 150ms ease-in-out;
